{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}?v1.3">
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    <title>Homepage</title>

{% endblock %}


{% block content %}
    <li class="selected">
        <div class="cd-full-width">
            <div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="5" data-page-type="gallery">
                <br><br><br>
                <div class="container">
                    {% if user_authenticated %}
                      <h1 style="font-size: 32px; margin-bottom: 8px">Welcome, {{ user.username }}</h1>
                      <form action="{% url 'room-reservation-app:list-organizations' %}" class="list-organizations" method="get" >
                        
                        <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">List Organizations</Button>
                        
                      </form>

                    {% else %}
                      <form action="{% url 'room-reservation-app:login' %}" class="login" method="post" >
                        {% csrf_token %}
                        {{ form|crispy }}
                        <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">Login</Button>
                        <br>
                        <small style="margin-top: 5px">Don't have an account? <a href="{% url 'room-reservation-app:signup' %}"><i class="fas fa-user-plus"></i></a> </small>
                        
                      </form>
                    {% endif %}


                </div>
            </div>
        </div>
    </li>


{% endblock %}