{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/my_profile.css' %}?v1.3">
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
  <title>Organization Page</title>

{% endblock %}
<style>
  .form-right{
    width: 300px;
    margin-right: 20px;
    margin-top: 10px;
  }
</style>

{% block content %}
  <li class="selected">
    <div class="cd-full-width">
      <div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="5" data-page-type="gallery">
                <br><br><br>
                <div class="container">
                    {% if message %}
                      <script>
                        alert("{{ message }}");
                      </script>
                    {% endif %}
                    {% if user_authenticated %}

                    <h1 style="font-size: 32px; margin-bottom: 8px">Room: {{ selectedRoomName }}</h1>  
                    {% if events %}
                    <div class="row"> 
                    {% for event in events %}
                      <h3 style="margin-top:100px">Event name: {{ event.eventTitle }}</h3>
                      <p> <b> Category: {{ event.event_category}} </b></p>
                      <p> <b> Description: {{ event.event_description}} </b></p>
                      <p> <b> Start time: {{ event.event_hours}} </b></p>
                      <form action="{% url 'reservationapp:room' %}" class="room" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="roomServerId" value="{{ selectedRoomServerId }}">
                        <input type="hidden" name="roomName" value="{{ selectedRoomName }}">
                        <input type="hidden" name="listReservedEvents" value="true">
                        <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">Event Info</Button>
                      </form>
                      <form action="{% url 'reservationapp:room' %}" class="room" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="roomServerId" value="{{ selectedRoomServerId }}">
                        <input type="hidden" name="roomName" value="{{ selectedRoomName }}">
                        <input type="hidden" name="eventServerId" value="{{ event.event_id }}">
                        <input type="hidden" name="eventHours" value="{{ event.event_hours }}">
                        <input type="hidden" name="deleteReservation" value="true">
                        <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">Delete Event</Button>
                      </form>  
                      
                    {% endfor %}

                    </div>
                    {% endif %}
                    <form action="{% url 'reservationapp:room' %}" class="room" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="orgServerId" value="{{ selectedOrgId }}">
                        <input type="hidden" name="orgName" value="{{ selectedOrgName }}">
                        <input type="hidden" name="roomServerId" value="{{ selectedRoomServerId }}">
                        <input type="hidden" name="roomName" value="{{ selectedRoomName }}">
                        <input type="hidden" name="listReservedEvents" value="true">
                        <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">List Events</Button>
                    </form> 
                    <form action="{% url 'reservationapp:map' %}" class="map" method="get" >
                      {% csrf_token %}
                      <input type="hidden" name="orgServerId" value="{{ selectedOrgId }}">
                      <input type="hidden" name="orgName" value="{{ selectedOrgName }}">
                      <Button   style="margin-top: 5px; " class="btn btn-dark btn-lg" type="submit">Back</Button>
                    </form> 
                    
                    <div style="display: flex; justify-content: flex-end;">
                        <div class="form-right">
                          <form action="{% url 'reservationapp:room' %}" class="room" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="hidden" name="orgServerId" value="{{ selectedOrgId }}">
                            <input type="hidden" name="orgName" value="{{ selectedOrgName }}">
                            <input type="hidden" name="roomServerId" value="{{ selectedRoomServerId }}">
                            <input type="hidden" name="roomName" value="{{ selectedRoomName }}">
                            <input type="hidden" name="reserveRoom" value="true">
                            <Button style="margin-top: 5px;" class="btn btn-dark btn-lg" type="submit">Reserve Room</Button>
                          </form>
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
    <script>
      const socket = new WebSocket('ws://localhost:1428');

      // Connection opened
      socket.addEventListener('open', (event) => {
        console.log('Connected to the server');
        socket.send('Hello, server!');
      });

      // Listen for messages
      socket.addEventListener('message', (event) => {
        alert(event.data)
        console.log('Message from server:', event.data);
      });

      // Connection closed
      socket.addEventListener('close', (event) => {
        console.log('Connection closed');
      });
    </script>


{% endblock %}